<div class="row">
  <h1>Edit team {{teamInput.TeamName}}</h1>
  <h4>Enter information, and click the update button</h4>
  <div class='col-md-8 col-sm-12'>
    <form (ngSubmit)='onSubmit(f)' #f='ngForm'>

      <!-- Form elements go here -->

      <div class="form-group">

        <!-- Label for the element -->
        <label class="control-label" for="teamName">Team Name:</label>

        <!-- The element code goes here -->
        <input id="teamName" name="teamName" #teamName='ngModel' class="form-control" [(ngModel)]="teamInput.TeamName" placeholder="3 to 50 characters"
          minlength="3" maxlength="50" required autofocus>
        <!-- Validation error area -->
        <div *ngIf='teamName.invalid && (teamName.dirty || teamName.touched)' class='alert alert-danger'>
          <!-- The code below is situation-dependent - think before coding -->
          <div *ngIf='teamName.errors.required'>Team Name is required, 3 to 50 characters</div>
          <!-- <div *ngIf='teamName.errors.pattern'>Team Name must be at least 3 characters</div> -->
          <div *ngIf="teamName.errors?.minlength">Name must be at least 3 characters long.</div>
          <div *ngIf="teamName.errors?.maxlength">Name must be at max 50 characters long.</div>

        </div>


        <!-- Label for the element -->
        <label class="control-label" for="teamLeader">Team Leader:</label>

        <!-- The element code goes here -->
        <select class="form-control" id="teamLeader" name="teamLeader" #teamLeader='ngModel' class="form-control" [(ngModel)]="selectedTeamLead"
          required>
          <!-- Assuming that "teamLead" is the name of the template reference variable -->
          <option *ngIf='teamLeader.invalid && teamLeader.pristine' value='undefined' disabled>Select a team leader...</option>

          <option *ngFor='let e of employee' [value]="e._id">
            {{e.FirstName}}, {{e.LastName}} 
          </option>
        </select>
        <!-- Validation error area -->
        <div *ngIf='teamLeader.invalid && teamLeader.touched' class='alert alert-danger'>
          <!-- The code below is situation-dependent - think before coding -->
          <div *ngIf='teamLeader.errors.required'>Must select a team leader</div>

        </div>


<!-- Label for the element -->
<label class="control-label" for="teamMembers">Team Members:</label>

<!-- The element code goes here -->
<select class="form-control" id="teamMembers" name="teamMembers" #teamMembers='ngModel' 
class="form-control" [(ngModel)]="selectedTeamMembers"
 multiple size="8" required>
  <!-- Assuming that "teamLead" is the name of the template reference variable -->
  <option *ngIf='teamMembers.invalid && teamMembers.pristine' 
  value='' disabled>Select one or more team members...</option>

  <option *ngFor='let e of employee' [value]="e._id">
    {{e.FirstName}}, {{e.LastName}} - {{e.Position?.PositionName}}
  </option>
</select>
<!-- Validation error area -->
<div *ngIf='teamMembers.invalid && teamMembers.touched' class='alert alert-danger'>
  <!-- The code below is situation-dependent - think before coding -->
  <div *ngIf='teamMembers.errors.required'>Must select one more projects</div>

</div>


<!-- Label for the element -->
<label class="control-label" for="teamProjects">Projects:</label>

<!-- The element code goes here -->
<select class="form-control" id="teamProjects" name="teamProjects" #teamProjects='ngModel' 
class="form-control" [(ngModel)]="selectedTeamProjects"
 multiple size="8" required>
  <!-- Assuming that "teamLead" is the name of the template reference variable -->
  <option *ngIf='teamProjects.invalid && teamProjects.pristine' 
  value='' disabled>Select one or more projects...</option>

  <option *ngFor='let p of project' [value]="p._id">
    {{p.ProjectName}} - {{p.ProjectDescription.substring(0,50)}}...
  </option>
</select>
<!-- Validation error area -->
<div *ngIf='teamProjects.invalid && teamProjects.touched' class='alert alert-danger'>
  <!-- The code below is situation-dependent - think before coding -->
  <div *ngIf='teamProjects.errors.required'>Must select a team leader</div>

</div>



      </div>

      <a class="btn btn-default" routerLink='/teamsList'>Back to list</a>
      <a class="btn btn-default" [routerLink]="['/teamViewDetails', teamInput._id]" >Back to details</a>
      <button class="btn btn-primary" type="submit" [disabled]='!f.form.valid'>Update</button>

    </form>
  </div>
</div>