<div class="container">
  <div class="row">
      <div class="col-md-9">

          <h1>Teams (list of {{teams.length}}) </h1>
          <h5>Click a row to view the team details</h5>
      </div>
      <div class="col-md-9">
          <div class="table-responsive">
              <table class="table" id="table">
                  <thead class="thead-dark">
                      <tr>
                          <th class="table-heading">Team name</th>
                          <th class="table-heading">Name of the team leader</th>
                          


                      </tr>
                  </thead>
                  <tbody *ngFor='let t of teams' (click)="selectRow(t)">
                      <td class="hidden">{{t.TeamLead._id}}</td>
                      <td>{{t.TeamName}}</td>

                      <td>{{t.TeamLead.FirstName}} {{t.TeamLead.LastName}}</td>

                      

                  </tbody>
              </table>
              <p *ngIf='teams.length==0'>Fetching data, please wait....</p>
          </div>
      </div>
  </div>
</div>